#popUpOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0/50%);
    /* opacity: .5; */
    /* color: white;*/
    overflow: scroll;
}
.popUpForm{
    margin: 10px auto;
    display: block;
    width: 900px;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}
.mainBody section{
    margin: 10px auto;
    display: block;
}
.secHeader{
    font-weight: bold;
}
.popUpHeader{
    position: relative;
}
.btnClose{
    position: absolute;
    top:5px;
    right:5px;
}